 <section id="account-summary">
        <div class="account-module">

            <nav class="navbar">
                <a class="navbar-brand" href="#">
                  <img src="imgs/trade-forex.svg" width="75" height="auto" class="d-inline-block align-right" alt="" loading="lazy">
                </a>
                <h3>{{summary.fullName}} Portfolio</h3>
                <img src="https://image.flaticon.com/icons/png/512/272/272075.png" width="50" height="auto" class="d-inline-block align-center" alt="" loading="lazy">
              </nav>


            <div class="row acc-row">
               
                <div class="col">
                  <div class="account-sum">
                    <p>Base Currency</p>
                    <h3>{{summary.baseCurrency.country}}
                            {{summary.baseCurrency.name}} &#x{{summary.baseCurrency.symbolUnicodeHex}};</h3>
                  </div>
                </div>
                <div class="col">
                  <div class="account-sum">
                    <p>Account Value</p>
                    <h3 id="acc-val">&#x{{summary.baseCurrency.symbolUnicodeHex}};
                            {{summary.currentAccountValue}}</h3>
                  </div>
                </div>
                <div class="col">
                  <div class="account-sum">
                    <p>Initial Investment</p>
                    <h3 id="initial">&#x24; 10,000</h3>
                  </div>
                </div>
            </div>

            <div class="positions">
                <div class="positions-div">
                    <h5>Positions:</h5>
                    <div class="row">
                        <div class="col-12">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Country</th>
                                <th scope="col">Currency</th>
                                <th scope="col">Symbol</th>
                                <th scope="col">Code</th>
                                <th scope="col">Amount</th>
                                <th scopr="col">Rate</th>
                                <th scope="col">Trade</th>
                              </tr>
                            </thead>
                            <tbody>
                                                      {{#each summary.positions}}
                        <tr>
                            <th scope="row">{{country}}</th>
                            <td>{{name}}</td>
                            <td>&#x{{symbolUnicodeHex}};</td>
                            <td>{{code}}</td>
                            <td>{{amount}}</td>
                            <td>{{rate}}</td>
                            <td style="text-align: center;">
                                <!-- <button type="button" class="btn btn-primary">Sell</i></button> -->
                                <input type="text" placeholder="Amount" id="pos-inp-{{code}}" />
                                <button class="btn btn-primary btn-sell" data-code="{{code}}" type="button"
                                    id="button-addon2">Sell</button>
                            </td>
                        </tr>
                        {{/each}}
                            </tbody>

                 


                          </table>
                        </div>
                    </div>

                </div>
                
            </div>


        </div>
           
    </section>